

.home-links-container {
    top: 10%;
    left: 50%;

    ul {
        list-style-type: none; 
    }


}

.social-links {
    max-width: 80%;
    padding-top: 2rem;
    transition: transform;

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}



.home-right-box-container {
    position: absolute;
    top: 10%;
    left: 50%;



}
