.row {
    max-width: 90rem; //1px is equal to 10 rem
    
    margin: 0 auto; // a trick used to center block elements in another block element


    &:not(:last-child) {
        // the not method selects everything except the last child
        // the last child wont receive the margin-bottom
        margin-bottom: 6rem;
    }

    @include clearfix;

    // this is an attrubute selector
    [class^="col-"] { // class^="col-" will grab all of the classes that start with col-

        float: left; //floating the elements to the left

        &:not(:last-child) {
            margin-right: 6rem;
        }

    }

    .col-1-of-2 {
        width: calc((100% - 6rem) / 2); // the calc function allows you to mix units is css
        // if you want to use the variable inside the function you have to wrap it in #{}
    }

    .col-1-of-3 {
        width: calc((100% - 2 * 6rem) / 3);
    }

    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
    }

    .col-1-of-4 {
        width: calc((100% - 3 * 6rem) / 4);
    }

}